

  .container {
    text-align: center;
    padding: 50px;
    background: linear-gradient(to right, #ece9e6, #ffffff);
    min-height: 100vh;
  }
  
  .heading {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  
  .templates {
    display: flex;
    justify-content: center;
    gap: 5em;
    flex-wrap: wrap;
  }
  
  .templateCard {
    background-color: #ffffff;
    width: 250px;
    height: 380px;
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .templateCard:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  }
  
  .templateImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .templateName {
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  