.developerPageContainer {
    background: black;
    color: white;
    height: 100vh;
    padding:2vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.headingText {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase; /* Adds a modern, bold look */
    letter-spacing: 2px;
    text-shadow:1px 1px 10px  orange;
}


.headingContainer {
    color: white;
    text-align: center;
    padding: 2vh;
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
}

.cardContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
    padding: 2vh;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 768px) {
    .cardContainer {
        flex-direction: column;
        align-items: center;
    }
}

