/* .developerPageContainer {
    background-image: url("/src/assets/cave_background.jpg");
    color: white;
    height: 100vh;
    padding:2vh;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    
} */

.developerPageContainer {
    position: relative;
    color: white;
    height: 100vh;
    padding: 2vh;
    overflow: hidden;
}

/* Adding a blurred background effect */
.developerPageContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/cave_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

/* Ensuring content remains above the background */
.headingContainer, .cardContainer {
    position: relative;
    z-index: 1;
}

.headingText {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase; /* Adds a modern, bold look */
    letter-spacing: 2px;
    text-shadow:1px 1px 10px  orange;
}


.headingContainer {
    color: white;
    text-align: center;
    padding: 2vh;
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
}

.cardContainer {
    display: flex;
    justify-content:space-around;
    margin-top: 10vh;
    padding: 2vh;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .cardContainer {
        flex-direction: column;
        align-items: center;
    }
}

